<app-nav-bar></app-nav-bar>
<div id="clasamea">
  <img *ngIf=" photo | async as photos " [src]=photos[0].url >
<!--  <img src="https://cdn.shopify.com/s/files/1/0107/6835/1313/t/3/assets/0cf3d99bb7bd&#45;&#45;AFRICAN-CICHLID-FW-iStock-462253079.jpg?v=1585349612">-->
  <section >
    <div class="overlay-dark bg-cover bg-center p-5 mb-5 poza"   >
      <div class="overlay-content text-white text-center p-5">
        <p class="lead demo-text mb-1">{{description}}</p>
        <br>
        <a class="btn btn-outline-light rounded-0 px-5" href="/aboutus">Exploreaza</a>
      </div>
    </div>

  </section>
</div>
