
img {
  max-width: 100%; }






.tab-content img {
  width: 100%;
 }

.card {
  background: #eeeeee;
  margin-left: 0;
  padding: 3em;
  height: 572px;

   }
.ttt{
  padding: 0;
}

.product-title, .price, .sizes, .colors {
  text-transform: UPPERCASE;
  font-weight: bold; }


.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; }

.product-title {
  margin-top: 0; }

.size {
  margin-right: 10px; }
.size:first-of-type {
  margin-left: 40px; }


ngb-carousel{
  width: fit-content;
  height: fit-content;
  background-color: dimgray;
  fill-opacity: 0.2;
}

.fish-photo{
  height: 380px;
  width: 800px;

}


