<app-nav-bar></app-nav-bar>

<div class="container-fluid ttt ">
  <div class="card">
    <div class="container-fliud">
      <div class="wrapper row">
        <div class="preview col-md-6">
          <ngb-carousel *ngIf=" photos | async as photos">
            <ng-template ngbSlide *ngFor="let photo of photos">
              <div class="wrapper" gallerize>
                <img class="fish-photo " [src]="photo.url" alt="photo">
              </div>
            </ng-template>
          </ngb-carousel>

        </div>
        <div class="details col-md-6">
          <h3 class="product-title"><strong>Nume: </strong>{{species.name}}</h3>
          <p class="product-description"><strong>Grup: </strong>{{species.group}}</p>
          <p class="product-description"><strong>Dimensiuni Adult: </strong>  {{species.size}}</p>
          <p class="product-description"><strong>Comportament: </strong>{{species.behavior}}</p>
          <p class="product-description"><strong>Asociere: </strong>{{species.associate}}</p>
          <p class="product-description"><strong>Acvariu Recomandat: </strong>{{species.aquarium}}</p>
          <p class="product-description"><strong>Hrana: </strong>{{species.feed}}</p>
          <p class="product-description"><strong>Reproducere: </strong>{{species.reproduction}}</p>

         <div class="btn-group">
           <button class="btn btn-primary" (click)="goToSpecies()">Alte Specii</button>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>



