<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="card my-5">
        <div class="card-body">
          <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div class="btn-group" style="padding-right: 300px">
              <button (click)="save()" class="btn btn-success "> Add</button>
            </div>
            <div class="navbar-nav" style="padding-right: 340px">
              <h4 class="nav-item text-primary text-center"><strong>Homepage</strong></h4>
            </div>
          </nav>
          <div class="row" style="margin-top: 20px">
            <div class="col-sm-4"
                 *ngFor="let home of homePage  | paginate : {itemsPerPage: numberOfItemsPerP, currentPage: p}">
              <div class="card text-black-50 bg-light mb-4">
                <div class="card-body">
                  <img *ngIf=" home.photos | async as photos " [src]=photos[0].url height="250px" class="card-img-top"
                       alt="...">
                  <div style="height: 100px">
                    <h5 class="card-title">{{home.description}}</h5>

                  </div>
                  <div class="btn-group">
                    <button (click)="open(content, home.id)" class="btn btn-danger"> Delete
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>

        </div>
      </div>
      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Confirm dialog</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12 text-center">
              Are you sure you want to delete this item?
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="modal.close('Delete click')">Delete</button>
        </div>
      </ng-template>
    </div>
  </div>
</div>

