<app-nav-bar></app-nav-bar>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<div class="container">
  <!-- start event block -->
  <div class="row align-items-center event-block no-gutters margin-40px-bottom">
    <div class="col-lg-5 col-sm-12">
      <div class="position-relative">
        <img src="https://sites.google.com/site/dangeroussharkandfish/_/rsrc/1331582887419/imagini-pesti-simpli/image_gallery.jpg?height=300&width=400" alt="">
      </div>
    </div>
    <div class="col-lg-7 col-sm-12">
      <div class="padding-60px-lr md-padding-50px-lr sm-padding-30px-all xs-padding-25px-all">
        <h5 class="margin-15px-bottom md-margin-10px-bottom font-size22 md-font-size20 xs-font-size18 font-weight-500"><a href="event-details.html" class="text-theme-color">http://www.malawicichlidhomepage.com/ </a></h5>
        <p>Articole stufoase, galerie mare, specii descrise in detaliu - un sit obligatoriu pentru pasionaţii de ciclide africane</p>
      </div>
    </div>
  </div>
  <!-- end event block -->

  <!-- start event block -->
  <div class="row align-items-center event-block no-gutters margin-40px-bottom">
    <div class="col-lg-7 order-2 order-lg-1">
      <div class="padding-60px-lr md-padding-50px-lr sm-padding-30px-all xs-padding-25px-all">
        <h5 class="margin-15px-bottom md-margin-10px-bottom font-size22 md-font-size20 xs-font-size18 font-weight-500"><a href="event-details.html" class="text-theme-color">http://www.cichlidae.com/ </a></h5>

        <p>Articole semnate de autori consacraţi, multe fotografii din lac, informaţii pertinente</p>

      </div>
    </div>
    <div class="col-lg-5 order-1 order-lg-2">
      <div class="position-relative">
        <img src="https://th.bing.com/th/id/OIP.gP0F4YIbKo8hV8lftK-OuAHaE9?pid=Api&w=450&h=301&rs=1" alt="">
        <div class="events-date">
          <div class="font-size28">25</div>
          <div class="font-size14">Feb</div>
        </div>
      </div>
    </div>
  </div>
  <!-- end event block -->

  <!-- start event block -->
  <div class="row align-items-center event-block no-gutters margin-40px-bottom">
    <div class="col-lg-5 col-sm-12">
      <div class="position-relative">
        <img src="https://www.exclusivnews.ro/main/uploads/2010/06/pesti-acvariu.jpg" alt="">
      </div>
    </div>
    <div class="col-lg-7 col-sm-12">
      <div class="padding-60px-lr md-padding-50px-lr sm-padding-30px-all xs-padding-25px-all">
        <h5 class="margin-15px-bottom md-margin-10px-bottom font-size22 md-font-size20 xs-font-size18 font-weight-500"><a href="event-details.html" class="text-theme-color">https://www.exclusivnews.ro/main/uploads/2010/06/pesti-acvariu.jpg</a></h5>
        <p>Amazon Aquarium</p>
      </div>
    </div>
  </div>
  <!-- end event block -->

  <!-- start event block -->
  <div class="row align-items-center event-block no-gutters margin-40px-bottom">
    <div class="col-lg-7 order-2 order-lg-1">
      <div class="padding-60px-lr md-padding-50px-lr sm-padding-30px-all xs-padding-25px-all">
        <h5 class="margin-15px-bottom md-margin-10px-bottom font-size22 md-font-size20 xs-font-size18 font-weight-500"><a href="event-details.html" class="text-theme-color">http://www.aquarium.ro/</a></h5>
        <p>Ghid acvaristică, Peşti, Galerie Foto, Forum</p>
      </div>
    </div>
    <div class="col-lg-5 order-1 order-lg-2">
      <div class="position-relative">
        <img src="https://www.exclusivnews.ro/main/uploads/2010/06/pesti-acvariu.jpg" alt="">
      </div>
    </div>
  </div>
  <!-- end event block -->

  <!-- start event block -->
  <div class="row align-items-center event-block no-gutters">
    <div class="col-lg-5 col-sm-12">
      <div class="position-relative">
        <img src="https://th.bing.com/th/id/Rb3a703ed12ed58582f1a4881a0550669?rik=l55l9%2b4HjP0Stw&riu=http%3a%2f%2ffighterfish.org%2fwp-content%2fuploads%2f2009%2f11%2fFighter-Fish.jpg&ehk=THODvlg1ly%2b643RAzARKWoAdDLNygN%2f1vQfdvCK9fRE%3d&risl=&pid=ImgRaw" alt="">
      </div>
    </div>
    <div class="col-lg-7 col-sm-12">
      <div class="padding-60px-lr md-padding-50px-lr sm-padding-30px-all xs-padding-25px-all">
        <h5 class="margin-15px-bottom md-margin-10px-bottom font-size22 md-font-size20 xs-font-size18 font-weight-500"><a href="event-details.html" class="text-theme-color">http://www.aquarium.ro/forum/</a></h5>
        <p> - Forum de discuţii despre acvaristică</p>
      </div>
    </div>
  </div>
  <!-- end event block -->

</div>
