<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card my-5">
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" #countryAdd="ngForm">
            <div *ngIf="currentFile" class="progress">
              <div
                class="progress-bar progress-bar-info progress-bar-striped"
                role="progressbar"
                attr.aria-valuenow="{{ progress }}"
                aria-valuemin="0"
                aria-valuemax="100"
                [ngStyle]="{ width: progress + '%' }"
              >
                {{ progress }}%
              </div>
            </div>

            <label class="btn btn-default">
              <input type="file" (change)="selectFile($event)" />
            </label>


            <div class="alert alert-light" role="alert">{{ message }}</div>
            <div class="btn-group">
              <a (click)="getHomePage()"
                 class="btn btn-secondary mx-1">Back
              </a>
              <button type="submit" [disabled]="!countryAdd.form.valid"
                      class="btn btn-info">Submit
              </button>
            </div>
          </form>
        </div>
