<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #userEdit="ngForm">
      <div class="form-group">
        <label for="email">email</label>
        <input type="text" [(ngModel)]="user.email"
               class="form-control"
               id="email"
               name="email"
               placeholder="Enter your email"
               required #email="ngModel">
      </div>
      <div [hidden]="!email.pristine" class="alert alert-danger">email is required</div>
      <div class="form-group">
        <label for="role">role</label>
        <input type="text" [(ngModel)]="user.role"
               class="form-control"
               id="role"
               name="role"
               placeholder="Enter your phone number"
               required #role="ngModel">
        <div [hidden]="!role.pristine" class="alert alert-danger">role is required</div>
      </div>
      <div class="btn-group">
        <a (click)="getUser()"
           class="btn btn-secondary mx-1">Back
        </a>
        <button type="submit" [disabled]="!userEdit.form.valid"
                class="btn btn-info">Submit
        </button>
      </div>
    </form>
  </div>
</div>
