<app-nav-bar></app-nav-bar>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<!-- Contact -->
<section class="container">

  <!--Contact heading-->
  <h2 class="h1 m-0">Contact </h2>
  <br>
  <!--Contact description-->

  <div class="row">

    <!--Grid column-->
    <div class="col-lg-5 mb-4">

      <!--Form with header-->
      <div class="card border-primary rounded-0">

        <div class="card-header p-0">
          <div class="bg-primary text-white text-center py-2">
            <h3><i class="fa fa-envelope"></i> Contactati-ne:</h3>
          </div>
        </div>
        <div class="card-body p-3">

          <!--Body-->
          <form (ngSubmit)="send()" #sendMessage="ngForm">
          <div class="form-group">
            <label for="inlineFormInputGroupUsername">Numele dumneavoastra</label>
            <div class="input-group">
              <div class="input-group-addon bg-light"><i class="fa fa-user text-primary"></i></div>
              <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                     [(ngModel)]="message.name" [ngModelOptions]="{standalone: true}" >
            </div>
          </div>
          <div class="form-group">
            <label for="inlineFormInputGroupUsername2">Email</label>
            <div class="input-group mb-2 mb-sm-0">
              <div class="input-group-addon bg-light"><i class="fa fa-envelope text-primary"></i></div>
              <input type="text" class="form-control" id="inlineFormInputGroupUsername2"
                     [(ngModel)]="message.email" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="form-group">
            <label for="inlineFormInputGroupUsername3">Oras</label>
            <div class="input-group mb-2 mb-sm-0">
              <div class="input-group-addon bg-light"><i class="fa fa-tag prefix text-primary"></i></div>
              <input type="text" class="form-control" id="inlineFormInputGroupUsername3"
                     >
            </div>
          </div>
          <div class="form-group">
            <label for="inlineFormInputGroupUsername4">Mesaj</label>
            <div class="input-group mb-2 mb-sm-0">
              <div class="input-group-addon bg-light"><i class="fa fa-pencil text-primary"></i></div>
              <textarea class="form-control" id="inlineFormInputGroupUsername4"
                        [(ngModel)]="message.message" [ngModelOptions]="{standalone: true}"></textarea>
            </div>
          </div>

          <div class="text-center">
            <button class="btn btn-primary btn-block rounded-0 py-2" type="submit">Submit</button>
          </div>
          </form>
        </div>

      </div>
      <!--Form with header-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-7">


      <div class="mb-4">
        <p >Ne puteţi contacta: </p>
        <br>

        <p><strong>&#183;</strong>  vanzari AT ciclideafricane.ro pentru informaţii despre stocuri şi preţuri </p>
        <p><strong>&#183;</strong>  webmaster AT ciclideafricane.ro pentru probleme legate de site </p>
        <p><strong>&#183;</strong>  contact AT ciclideafricane.ro pentru probleme generale legate de activitatea noastră</p>
      </div>

      <!--Buttons-->
      <div class="row text-center" style="margin-top: 180px">


        <div class="col-md-4">
          <a class="bg-primary px-3 py-2 rounded text-white mb-2 d-inline-block"><i class="fa fa-map-marker"></i></a>
          <p>{{contact.address}}

        </div>

        <div class="col-md-4">
          <a class="bg-primary px-3 py-2 rounded text-white mb-2 d-inline-block"><i class="fa fa-phone"></i></a>
          <p>{{contact.phone}}, <br> Luni - Vineri, 8:00-22:00</p>
        </div>

        <div class="col-md-4">
          <a class="bg-primary px-3 py-2 rounded text-white mb-2 d-inline-block"><i class="fa fa-envelope"></i></a>
          <p>{{contact.email}} </p>
        </div>
      </div>

    </div>
    <!--Grid column-->

  </div>

</section>
<!-- Contact -->

