<div class="bs-example">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <button type="submit" class="btn btn-outline-light mr-1">Despre noi</button>
    <button type="submit" class="btn btn-outline-light mr-1">Specii</button>
    <button type="submit" class="btn btn-outline-light mr-1">Galerie</button>
    <button type="submit" class="btn btn-outline-light mr-1">Contact</button>
    <button type="submit" class="btn btn-outline-light">Linkuri</button>

      <form class="form-inline ml-auto">
        <input type="text" class="form-control mr-sm-2" placeholder="Cauta">
        <button type="submit" class="btn btn-outline-light">Cauta</button>
      </form>
  </nav>
</div>
