@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 5px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

.container
img {
  width: 200px;
}


.g-overlay {
  min-width: 320px;
}
p {
  font-family: Lato;
}
