

img{
  margin-top: 0px;
  width: 1370px;
  height: 570px;

}
ngb-carousel{
  width: fit-content;
  height: fit-content;
  background-color: dimgray;
  fill-opacity: 0.2;
}
.container{

  padding: 0;
  margin: 0;
  background-color: dimgray;
  position: absolute;
}

