

img{
  margin-top: 0px;
  width: 1370px;
  height: 602px;

}
ngb-carousel{
  width: fit-content;
  height: fit-content;
  background-color: dimgray;
  fill-opacity: 0.2;
}
.container{
  max-width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background-color: dimgray;
  position: absolute;
}


