
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 pull-right" style="z-index:1020;">
      <div class="container-fluid">
        <ngb-carousel *ngIf="images">
          <ng-template ngbSlide>
            <div class="wrapper">
              <img [src]="images[0]" alt="Random first slide">
            </div>
            <div class="carousel-caption">
              <h3>First Slide</h3>
              <p> Angular 10 Carousel Example </p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="wrapper">
              <img [src]="images[1]" alt="Random second slide" >
            </div>
            <div class="carousel-caption">
              <h3>Second Slide</h3>
              <p> Check out Techiediaries</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="wrapper">
              <img [src]="images[2]"  alt="Random third slide">
            </div>
            <div class="carousel-caption">
              <h3>Third Slide</h3>
              <p>for full tutorial...</p>
            </div>
          </ng-template>
        </ngb-carousel>

      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
      <div class="well">
        <h2>Despre Noi</h2>
        <p class="">Cu ce ne ocupam?</p>

         <p> Ne specializam in cresterea, reproducerea, si comercializarea de ciclide africane din Lacul Malawi.</p>
      </div>
      <p>Cui ne adresam?</p>

      <p>  Ne adresam indeosebi proprietarilor de magazine "pet-shop" si distribuitorilor, dar si persoanelor fizice care solicita comenzi semnificative pentru proiecte de amploare. NU vindem "en detail", va rugam sa va adresati distribuitorilor nostri (pagina distribuitori).
      </p>
      <p>  Ce oferim?</p>

      <p>  Navigati la pagina Specii unde gasiti o lista cu speciile pe care le reproducem.</p>
      <p> De ce ciclide africane?</p>

    <p> Grupul ciclidelor africane cuprinde o foarte mare varietate de forme si culori. Numai in Lacul Malawi au fost identificate pana in prezent peste 800 specii.
    </p>

    <p>  Ciclidele africane au un comportament fascinant. Intre ciclidele africane se formeaza in acvariu o ierarhie bine definita; membrii acesteia interactioneaza constant si ofera un spectacol acrobatic continuu. Spre deosebire de ciclidele americane, care formeaza perechi si ocupa de obicei tot acvariul, ciclidele africane nu formeaza perechi. Masculii sunt poligami, si in acest fel creste numarul de indivizi dintr-o singura specie care pot fi tinuti in acelasi acvariu. In plus, ciclidele africane sunt si sociabile: in acelasi acvariu pot fi tinute mai multe specii, obtinand o varietate de forme si culori. La reproducerea ciclidelor africane gestatia este bucala (detalii).

    </p>
      <p>
        Spre deosebire de alte ciclide de apa dulce tinute in acvariu, unde culorile sunt obtinute mai ales prin selectie artificiala de catre om, ciclidele africane poseda din natura o gama superba de culori. Scopul crescatorului este de a pastra cat mai pure genele speciei, nu acela de a indeparta cat mai mult specia de varianta sa "salbatica". Pasionatii de acest grup de ciclide se pot chiar rasfata inotand in apele lacului, alaturi de speciile tinute in acvarii!
      </p>
    </div>
  </div>

