<div class="bs-example">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <button (click)="goToAboutUs()" type="submit" class="btn btn-outline-light mr-1">Despre noi</button>
    <button (click)="goToSpecies()" type="submit" class="btn btn-outline-light mr-1">Specii</button>
    <button (click)="goToGalery()" type="submit" class="btn btn-outline-light mr-1">Galerie</button>
    <button (click)="goToContact()" type="submit" class="btn btn-outline-light mr-1">Contact</button>
    <button type="submit" class="btn btn-outline-light">Linkuri</button>

    <form class="form-inline ml-auto" (ngSubmit)="goToSearch()">
      <input type="text" class="form-control mr-sm-2" [(ngModel)]="keyword1" placeholder="Cauta" [ngModelOptions]="{standalone: true}">
      <button type="submit" class="btn btn-outline-light">Cauta</button>
    </form>
  </nav>
</div>
<div class="container-fluid">

  <div class="row" style="margin-top: 20px">
    <div class="col-sm-4"  *ngFor="let spec of species ">
      <div class="card text-black-50 bg-light mb-4">
        <div class="card-body" >
          <img *ngIf=" spec.photos | async as photos " [src]=photos[0].url  height="250px"  class="card-img-top" alt="...">

          <h2 class="card-text"><strong>{{spec.name}}</strong></h2>


          <button (click)="goToSpeciesDetails(spec.id)" class="btn btn-dark btn-sm btn-block"> Detalii
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
